<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
    <test name="Firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.CheckoutOneItemTest"/>
        </classes>
    </test>
    <test name="Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.CheckoutOneItemTest"/>
        </classes>
    </test>
</suite>
